{% extends "employeeprofile/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Register an Employee</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST" action={% url 'registersuccess' %}>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                
                <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            <hr>
            {% comment %} <div class="text-center">
                Need an account? <a href="{% url 'signupuser' %}">Sign Up here</a>
            </div> {% endcomment %}
        </div>
    </div>
{% endblock %}
